.example-spacer {
    flex: 1 1 auto;


}

.toolbar {
    background-color: #0B152B;

}

.example-icon {
    padding: 0 0 0 0;
    background-color: #0B152B;
    border: none;

}

:hover.example-icon {
    cursor: pointer;

}

ul {

    padding: 1rem 0 0 1rem;
}

.liste {
    font-style: none;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;




}

.box {

    outline: none !important;
    user-select: none !important;
}

.icon {
    background-color: #0B152B;
    border: none;
    color: aliceblue;

}


.menuicons {
    margin-right: 25px;
}

.login {
    margin-left: 1rem;


}

.loginmenu {
    margin-left: 2rem;
    background-color: #13203d;
}

::ng-deep.menucolor {
    background: #C2185B;
}

@media (max-width : 768px) {
    .login {
        display: none;
    }




    .icon {
        display: none;
    }

    .liste {
        display: none;
    }


    .logo {
        margin: 0 0 0 7.2rem;
    }

}

@media (min-width : 769px) {


    .burgermenu {
        display: none;
    }


}