
<app-header></app-header>
<h1>Add Doctor</h1>
<div class="login d-flex align-items-center py-5">
           
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            
                            <form [formGroup]="adddoctor" novalidate class="form">
                                <div class="form-group mb-3">
                                    <input formcontrolName="First_name" type="text" placeholder="Vornahme" required=""  class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input formcontrolName="last_name" type="text" placeholder="Nachname" required=""  class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input formcontrolName="fachberich" type="text" placeholder="Fachbreich" required=""  class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input formcontrolName="adresse" type="text" placeholder="Adresse" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class="form-group mb-3">
                                    <input formcontrolName="telnummber" type="text" placeholder="Nummber" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                
                                <button type="submit" (click)="Adddoctor()" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" color="primary">Add Doctor</button>
                                
                            </form>
                        </div>
                    </div>
                </div><!-- End -->
            </div>